@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
* {
  box-sizing: border-box; }

body {
  color: #2b2b2b;
  font: 1rem/1 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }
  body h1 {
    font-size: 1rem;
    font-weight: 400; }

.is-hidden {
  opacity: 0;
  width: 0;
  height: 0;
  max-width: 0;
  max-height: 0; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.loading {
  animation: spin 1s infinite linear;
  border: 2px solid #f0f0f0;
  border-top-color: #1B8BFF;
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1em; }

.loading--routing-number {
  position: absolute;
  right: .75rem;
  bottom: calc(.5rem + 2px);
  transition: .125s; }

.loading--success-checkmark {
  position: absolute;
  right: 1rem;
  bottom: calc(.5rem + 5px);
  transition: .125s; }

.checkmark {
  border: solid #48D460;
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 8px;
  height: 13px;
  transform: rotate(45deg); }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }
  fieldset input[type="number"],
  fieldset input[type="text"] {
    border: 1px solid #d4d4d4;
    font-size: 1rem;
    font-weight: 100;
    padding: .5rem .75rem;
    transition: .25s;
    width: 100%; }
    fieldset input[type="number"]:focus,
    fieldset input[type="text"]:focus {
      border-color: #1B8BFF;
      outline: none; }
    fieldset input[type="number"]::-webkit-inner-spin-button, fieldset input[type="number"]::-webkit-outer-spin-button,
    fieldset input[type="text"]::-webkit-inner-spin-button,
    fieldset input[type="text"]::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none; }
    fieldset input[type="number"]::-webkit-input-placeholder,
    fieldset input[type="text"]::-webkit-input-placeholder {
      color: #b8b8b8;
      font: 0.85rem/1 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }
  fieldset label {
    display: block;
    margin-top: 1.875em;
    position: relative;
    width: 11.5rem; }
    fieldset label > span {
      color: gray;
      display: block;
      font-size: .85em;
      margin-bottom: .5rem; }

.routing-counter {
  background: #f0f0f0;
  display: inline-block;
  font-size: .75em;
  line-height: 1;
  padding: .25rem .5rem;
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  transition: .125s; }
  .routing-counter span {
    font-weight: 900; }

.option--savings-checking {
  display: flex;
  align-items: flex-end;
  margin: 0 0 .75rem 1.5rem; }
  .option--savings-checking .radio {
    margin-right: 1.5rem; }
    .option--savings-checking .radio input[type="radio"] {
      position: absolute;
      opacity: 0; }
      .option--savings-checking .radio input[type="radio"] + label {
        cursor: pointer;
        line-height: 1; }
        .option--savings-checking .radio input[type="radio"] + label::before {
          background-color: transparent;
          border: 1px solid #d4d4d4;
          border-radius: 50%;
          content: '';
          display: inline-block;
          width: 17px;
          height: 17px;
          margin: 0 .5em 0 0;
          position: relative;
          transition: .25s;
          transform: translateY(4px); }
      .option--savings-checking .radio input[type="radio"]:checked + label::before {
        background-color: #1B8BFF;
        border-color: #1B8BFF; }
      .option--savings-checking .radio input[type="radio"]:hover + label::before {
        background-color: #d4d4d4; }
      .option--savings-checking .radio input[type="radio"]:checked:hover + label::before {
        background-color: #1B8BFF; }
    .option--savings-checking .radio label {
      color: gray;
      display: inline-block;
      font-size: .85rem;
      width: auto; }

.faux-check {
  max-width: calc(100% - 12.5rem - .5rem);
  position: relative;
  width: calc(100% - 12.5rem - .5rem); }
  .faux-check > div {
    background: url("../images/wave.jpg") repeat;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em 5em 1em 1.5em;
    position: relative;
    width: 100%; }
    .faux-check > div::before {
      display: block;
      width: 100%;
      height: 100%;
      opacity: .5;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
  .faux-check.account-radio--savings-checked::after, .faux-check.account-radio--checking-checked::after {
    color: gray;
    content: '';
    display: block;
    font-size: .65em;
    text-transform: uppercase;
    position: absolute;
    top: calc(1rem + .5rem + .75rem - calc(.65rem/2));
    right: 1.5rem; }
  .faux-check.account-radio--savings-checked::after {
    content: 'Savings'; }
  .faux-check.account-radio--checking-checked::after {
    content: 'Checking'; }

.check--names {
  font-weight: 400; }
  .check--names .check--nickname {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 1rem 0 .75rem; }
  .check--names .check--bank-name {
    color: #3d3d3d;
    font-size: .85rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: capitalize; }

.check--bank-address {
  color: gray;
  font: normal 0.75rem/1.25 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-transform: capitalize;
  margin-bottom: 1.75rem;
  min-height: 2.5rem; }

.check--numbers {
  display: flex; }
  .check--numbers .numbers--label {
    color: gray;
    font-size: .65em;
    margin-bottom: .5em;
    text-transform: uppercase; }
  .check--numbers .numbers--value {
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
    transition: .25s; }
    .check--numbers .numbers--value::before, .check--numbers .numbers--value::after {
      color: gray;
      font: 1rem/1 monospace; }

.check-numbers--routing {
  margin-right: 1.5em; }
  .check-numbers--routing .numbers--value::before, .check-numbers--routing .numbers--value::after {
    content: '⑆'; }
  .check-numbers--routing .numbers--value::before {
    padding-right: .25rem; }
  .check-numbers--routing .numbers--value::after {
    padding-left: .25rem; }

.check-numbers--account .numbers--value::after {
  content: '⑈';
  font-size: 1.25rem;
  padding-left: .25rem; }

.section--add-bank {
  padding: 3rem;
  max-width: 768px;
  margin: 0 auto; }

.number-entry-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.numbers--account-routing {
  align-self: flex-end;
  border: none;
  margin: 0 1.5rem 0 0;
  padding: 0; }
  .numbers--account-routing h1 {
    margin-top: 0; }

.nickname-type .inner {
  border-top: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
  padding-top: 1em;
  width: 100%; }
  .nickname-type .inner .label--nickname {
    margin-top: 0; }
